{% extends 'WoeWebBundle::layout.html.twig' %}

{% block body %}
<div class="col-md-12 container event-holder">
	
	<div class="event-name frame">
		<h1>Lorem Ipsum</h1>
	</div>
	
	<div class="event-image">
		<img src="http://upload.wikimedia.org/wikipedia/commons/2/2b/GoraBeluha.jpg">
	</div>
	
	<div class="frame event-description">
		<div class="event-description-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam, ut sint illa vendibiliora, haec uberiora certe sunt. Contemnit enim disserendi elegantiam, confuse loquitur. Tu vero, inquam, ducas licet, si sequetur; Deinde disputat, quod cuiusque generis animantium statui deceat extremum. An me, inquam, nisi te audire vellem, censes haec dicturum fuisse? Duo Reges: constructio interrete.</p>

			<p>Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. An tu me de L. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Quae quo sunt excelsiores, eo dant clariora indicia naturae. Multoque hoc melius nos veriusque quam Stoici. Summus dolor plures dies manere non potest? Non quam nostram quidem, inquit Pomponius iocans; Immo istud quidem, inquam, quo loco quidque, nisi iniquum postulo, arbitratu meo.</p>

			<p>Philosophi autem in suis lectulis plerumque moriuntur. Graece donan, Latine voluptatem vocant. Itaque contra est, ac dicitis; An vero displicuit ea, quae tributa est animi virtutibus tanta praestantia?</p>

			<p>Profectus in exilium Tubulus statim nec respondere ausus; Nos quidem Virtutes sic natae sumus, ut tibi serviremus, aliud negotii nihil habemus. Sed tamen intellego quid velit. Praeterea sublata cognitione et scientia tollitur omnis ratio et vitae degendae et rerum gerendarum. Age, inquies, ista parva sunt. Ad quorum et cognitionem et usum iam corroborati natura ipsa praeeunte deducimur. Quem Tiberina descensio festo illo die tanto gaudio affecit, quanto L. Occultum facinus esse potuerit, gaudebit; Hoc Hieronymus summum bonum esse dixit. Quae qui non vident, nihil umquam magnum ac cognitione dignum amaverunt.</p>
		</div>
	</div>
	
	<div id="event-info" class="frame">
		<div class="event-details">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam, ut sint illa vendibiliora, haec uberiora certe sunt.
		</div>
		
		<div class="event-desc">
			<div class="event-price"><p>13.99$</p></div>
		
			<div class="event-date"><p>2015-01-01</p></div>
		</div>	
		
		<div class="remind-button"><p>Remind!</p></div>
	
		<div class="event-tickets-button"><p>Buy tickets</p></div>
	</div>
</div>
{% endblock %}
