{% extends 'WoeWebBundle::layout.html.twig' %}

{% block body %}
    <div class="col-md-12 element-holder container">
        <div class="frame">
            {% for event in events %}
                {{ include('@WoeWeb/Event/eventCard.html.twig', {'event': event}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
