{% extends 'WoeWebBundle::layout.html.twig' %}

{% block body %}
<div class="col-md-12 map-holder container">
	<div class="frame-map">
		<iframe class="main-map" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=7%20Konstitucijos%20prospektas%2C%20Vilnius%2C%20Vilnius%20County%2C%20Lithuania&key=AIzaSyCkHybBkZ0NKpYtWBtGI_yd31MKaT_E85Q"></iframe>
	</div>
</div>

<div class="col-md-12 element-holder container">
	<div class="frame">
		<div class="row">
			<div class="event-element col-md-4">
				<img src="#" class="event-info"></img>
				<div class="name-plate">Renginys A</div>
			</div>
			 
			<div class="event-element col-md-4">
				<img src="http://upload.wikimedia.org/wikipedia/commons/2/2b/GoraBeluha.jpg" class="event-info"></img>
				<div class="name-plate">Renginys B</div>
			</div>
		
			<div class="event-element col-md-4">
				<img src="#" class="event-info"></img>
				<div class="name-plate">Renginys E621</div>
			</div>
		</div>
	
		<div class="row">
			<div class="event-element col-md-4">
				<img src="#" class="event-info"></img>
				<div class="name-plate">Renginys A</div>
			</div>
			 
			<div class="event-element col-md-4">
				<img src="#" class="event-info"></img>
				<div class="name-plate">Renginys B</div>
			</div>
		
			<div class="event-element col-md-4">
				<img src="#" class="event-info"></img>
				<div class="name-plate">Renginys E621</div>
			</div>
		</div>
	
		<div class="row">
			<div class="event-element col-md-4">
				<img src="#" class="event-info"></img>
				<div class="name-plate">Renginys A</div>
			</div>
			 
			<div class="event-element col-md-4">
				<img src="#" class="event-info"></img>
				<div class="name-plate">Renginys B</div>
			</div>
		
			<div class="event-element col-md-4">
				<img src="#" class="event-info"></img>
				<div class="name-plate">Renginys E621</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
