{% extends 'WoeWebBundle::layout.html.twig' %}

{% block navbar %}
 {{ include('WoeWebBundle:Header:navbar.html.twig') }}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Hello World!</h1>
</div>
{% endblock %}
