{% extends 'WoeWebBundle::layout.html.twig' %}

{% block header %}
    {{ parent() }}
    <div class="event-tag-list">
        {% for result in tags %}
            {{ include('@WoeWeb/Body/tagLink.html.twig', {'result': result}) }}
        {% endfor %}
    </div>
{% endblock %}

{% block body %}
    <div class="col-md-12 element-holder container">
        <div class="frame">
            <div class="row">
            {% for event in pagination %}
                <div class="col-md-4">
                    {{ include('@WoeWeb/Event/eventCard.html.twig', {'event': event}) }}
                </div>
            {% endfor %}
            </div>
        </div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

