.footer-holder {
    padding: 8px;
    font-size: 0.9em;
    text-align: center;
    background-color: #F3F3F3;
    color: #7e7e7e;
    border-top: 1px #c9c9c9 solid;
    border-radius: 0px 0px 7px 7px;

}