.footer-holder {
    height: 1.875em;
    text-align: center;
    background-color: #F3F3F3;
    border-top: 2px #B0B0B0 solid;
    border-radius: 0px 0px 7px 7px;
    
    p {
        padding: 2px 0px 3px 0px;
        font-size: 1.3em; 
    }
}