.navbar-extra {

height: 30px;
	
	li {
	list-style-type: none;	
	}

	.navbar-header {
	font-size: 20px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 12px 0px 0px 0px;
		a {
		font-family: verdana;
		color: #ffffff;
		text-decoration: none;
		}	
	}
		
	.square {
	display: inline-block;
	float: right;
	height: 50px;
	width: 50px;
	background-color: #ffffff;
		.user {
			background-image: url("http://www.campaignrep.com/sites/default/files/sitewide/profile-default.png");
			background-color: inherit;
		}

		.notifications {
			background-image: url("https://cdn4.iconfinder.com/data/icons/48-bubbles/48/43.Bell-128.png"); 
			background-color: inherit;
		}

		img {
		max-width: 100%;
		max-height: 100%;
		}
	}
}
