{% block navbar %}
    <div class="navbar" role="navigaton">
        <ul> 
            <li><div class="title_navbar">The World of Events</li>
	    <li><div class="square button_notifications"></div></li>
	    <li><div class="square button_user"></div></li>
	</ul> 
    </div>
{% endblock %} 
