{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-extra" role="navigaton">
	<div class="container">	
            <div class="navbar-header"><a href="#">The World of Events</a></div>
	    <ul>
	        <li><div class="square user-icon"><img src="http://www.campaignrep.com/sites/default/files/sitewide/profile-default.png"></div></li>
	        <li><div class="square notifications-icon"><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/43.Bell-128.png"></div></li>
	    </ul> 
    </nav>
{% endblock %} 
