{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-extra" role="navigaton">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ app.request.getBaseUrl() }}">World of Events</a>
            </div>

            <div class="collapse navbar-collapse">
                {{ include('@WoeWeb/Header/search.html.twig') }}
            </div>
        </div>
    </nav>
{% endblock %} 
