{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-extra" role="navigaton">
	<div class="container">	
            <div class="navbar-header"><a href="#">The World of Events</a></div>
	    <ul>
	        <li><div class="square user"></div></li>
        
	        <li><div class="square notifications"></div></li>
	     </ul> 
    </nav>
{% endblock %} 
