{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-extra" role="navigaton">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ app.request.getBaseUrl() }}">World of Events</a>
            </div>

            <div class="collapse navbar-collapse">
                <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Paieška" value="">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success search-button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endblock %} 
