<form action="{{ path('woe_event_search') }}" class="navbar-form" role="search" method="get" id="search-form" name="search-form">
    <div class="input-group">
        <input name="q" type="text" class="form-control" placeholder="Paieška" value="{{ app.request.query.get('q') }}">

        <div class="input-group-btn">
            <button type="submit" class="btn btn-success search-button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</form>
